.messages {
    border: 5px solid #12C7E6;
    border-radius: 30px;
    width: 900px;
    height: 350px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .messages {
        width: 700px;
    }
}

@media (max-width: 540px) {
    .messages {
        width: 400px;
    }
}

@media (max-width: 375px) {
    .messages {
        width: 300px;
        height: 340px;
    }
}
