@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.message {
    display: flex;
    flex-direction: column;
}

.message__name {
    text-align: left;
    margin-left: 1em;
    margin-bottom: .1em;
    color: #444444;
    font-family: Oswald;
}

.message__content {
    border: 2px solid #E67212;
    height: 30px;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 30px;
    background-color: #E67212;
    margin-left: 1em;
    margin-right: auto;
    margin-bottom: .5em;
    font-family: Oswald;
    font-weight: bold;
}

.message__content__user {
    border: 2px solid #AE07E6;
    height: 30px;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 30px;
    background-color: #AE07E6;
    margin-left: auto;
    margin-right: 1em;
    margin-bottom: .5em;
    font-family: Oswald;
    font-weight: bold;
}