@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: Pacifico;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth {
  height: 100vh;
  width: auto;
}

.chat {
  overflow: hidden;
  height: 100vh;
  width: auto;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-top: -.2em;
}

@media (max-width: 1024px) {

  .auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h3 {
    font-size: 30px;
  }

}

@media (max-width: 360px) {
  h1 {
    font-size: 25px;
  }

  .auth {
    display: flex;
    flex-direction: column;
  }
  h3 {
    font-size: 16px;
  }
}